.pictures {
    width: 60vw;
    height: 35vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 15px 15px 0px 0px rgb(34, 72, 43);
}
.pictures-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 35vh;
}
.pictures-item {
    margin: 20px;
    transition: 0.3s ease-out;
}
.pictures-item img {
    border-radius: 10px;
    width: 11vw;
    height: 20vh;
    object-fit: cover;
    transition: 0.3s ease-out;
}
.pictures-item img:hover {
    width: 12vw;
    height: 22vh;
}
