@import "./time.css";
@import "./todolist.css";
@import "./pictures.css";
@import "./location.css";
@import "./weather.css";

.content {
    position: relative;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.content-title {
    font-weight: bold;
    position: absolute;
    top: -50px;
    font-size: 40px;
}
